<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tech.destinum.recorderis">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"/>

    <data
        android:host="@string/auth0_domain"
        android:pathPrefix="/android/tech.destinum.recorderis/callback"
        android:scheme="https"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.auth0.android.lock.LockActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyLockTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="ispam.auth0.com"
                    android:pathPrefix="/android/tech.destinum.recorderis/callback"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.auth0.android.provider.WebAuthActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.Form"
            android:configChanges="orientation"
            android:parentActivityName=".activities.Selection"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme">
        </activity>
        <activity
            android:name=".activities.Home"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Settings"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Selection"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Policy"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Terms"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.Profile"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>